/* Directly related about Gooey Overlay. */
.gooey-overlay {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0; left: 0;
}
.gooey-overlay.is-opened {
  pointer-events: auto;
}
.gooey-overlay__path01 {
  fill: #c4dbea;
}
.gooey-overlay__path02 {
  fill: #4c688b;
}
.gooey-overlay__path03 {
  fill: #2e496a;
}

/* Background-color for contents */
.main {
  min-height: 100vh;
}
.main--demo1 {
  background-color: #588cb1;
}

/* Each Other */
.demo-title {
  line-height: 1.5;
  position: absolute;
  top: 45%; right: 0; left: 0;
  margin: -0.75em 0 0;
  padding-left: 0.1em;
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;
}

@-webkit-keyframes intervalHamburgerBorder {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(1);
    transform: scale(1); }
  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6); } }

@keyframes intervalHamburgerBorder {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(1);
    transform: scale(1); }
  80% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6); } }

.hamburger {
  width: 64px;
  height: 64px;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 10%; right: 0; left: 0;
  z-index: 100;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: #222; }
  .hamburger:after {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 4px solid #222;
    border-radius: 50%;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-name: intervalHamburgerBorder;
    animation-name: intervalHamburgerBorder;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  .hamburger__line {
    width: 28px;
    height: 2px;
    overflow: hidden;
    position: absolute;
    z-index: 10; }
    .hamburger__line-in {
      width: 84px;
      height: 2px;
      position: absolute;
      top: 0;
      left: 0; }
      .hamburger__line-in:before, .hamburger__line-in:after {
        width: 28px;
        height: 2px;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        background-color: #fff; }
      .hamburger__line-in:before {
        left: -56px; }
      .hamburger__line-in:after {
        left: 0; }
    .hamburger__line--01, .hamburger__line--02, .hamburger__line--03, .hamburger__line--cross01, .hamburger__line--cross02 {
      left: 18px; }
    .hamburger__line--01 {
      top: 24.6px; }
    .hamburger__line--02, .hamburger__line--cross01, .hamburger__line--cross02 {
      top: 31px; }
    .hamburger__line--03 {
      top: 37.4px; }
    .hamburger__line--cross01 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .hamburger__line--cross02 {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .hamburger__line {
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    .hamburger__line-in {
      -webkit-transition-duration: 0.6s;
      transition-duration: 0.6s;
      -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
      .hamburger__line-in:before, .hamburger__line-in:after {
        -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform; }
      .hamburger__line-in--cross01, .hamburger__line-in--cross02 {
        -webkit-transform: translateX(-33.3%);
        transform: translateX(-33.3%); }
      .hamburger__line-in--01 {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      .hamburger__line-in--02 {
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s; }
        .hamburger__line-in--02:before, .hamburger__line-in--02:after {
          -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s; }
      .hamburger__line-in--03 {
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s; }
        .hamburger__line-in--03:before, .hamburger__line-in--03:after {
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }
      .hamburger__line-in--cross01 {
        -webkit-transition-delay: 0.0s;
        transition-delay: 0.0s; }
      .hamburger__line-in--cross02 {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s; }
        .hamburger__line-in--cross02:before, .hamburger__line-in--cross02:after {
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }
  .hamburger.is-opened-navi .hamburger__line-in--01, .hamburger.is-opened-navi .hamburger__line-in--02, .hamburger.is-opened-navi .hamburger__line-in--03 {
    -webkit-transform: translateX(33.3%);
    transform: translateX(33.3%); }
  .hamburger.is-opened-navi .hamburger__line-in--cross01, .hamburger.is-opened-navi .hamburger__line-in--cross02 {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .hamburger.is-opened-navi .hamburger__line-in--01 {
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .hamburger.is-opened-navi .hamburger__line-in--02 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .hamburger.is-opened-navi .hamburger__line-in--03 {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .hamburger.is-opened-navi .hamburger__line-in--cross01 {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s; }
  .hamburger.is-opened-navi .hamburger__line-in--cross02 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .hamburger:hover .hamburger__line-in:before, .hamburger:hover .hamburger__line-in:after {
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  .hamburger:hover .hamburger__line-in--01:before, .hamburger:hover .hamburger__line-in--01:after, .hamburger:hover .hamburger__line-in--02:before, .hamburger:hover .hamburger__line-in--02:after, .hamburger:hover .hamburger__line-in--03:before, .hamburger:hover .hamburger__line-in--03:after {
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .hamburger:hover .hamburger__line-in--cross01:before, .hamburger:hover .hamburger__line-in--cross01:after, .hamburger:hover .hamburger__line-in--cross02:before, .hamburger:hover .hamburger__line-in--cross02:after {
    -webkit-transition-duration: 0s;
    transition-duration: 0s; }
  .hamburger.is-opened-navi:hover .hamburger__line-in--cross01:before, .hamburger.is-opened-navi:hover .hamburger__line-in--cross01:after, .hamburger.is-opened-navi:hover .hamburger__line-in--cross02:before, .hamburger.is-opened-navi:hover .hamburger__line-in--cross02:after {
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .hamburger.is-opened-navi:hover .hamburger__line-in--01:before, .hamburger.is-opened-navi:hover .hamburger__line-in--01:after, .hamburger.is-opened-navi:hover .hamburger__line-in--02:before, .hamburger.is-opened-navi:hover .hamburger__line-in--02:after, .hamburger.is-opened-navi:hover .hamburger__line-in--03:before, .hamburger.is-opened-navi:hover .hamburger__line-in--03:after {
    -webkit-transition-duration: 0s;
    transition-duration: 0s; }
