*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
}

a:hover,
a:focus {
  color: #ddd;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

/* Page Loader */
.js .loading::before {
  content: '';
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(206, 209, 223, 0.9);
}

.js .loading::after {
  content: '';
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 70px;
  margin: -35px 0 0 -27px;
  pointer-events: none;
  border: 4px solid #fff;
  transition: opacity 0.3s;
  animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 0.3;
    transform: translate3d(0,-100px,0);
  }
}

/* Header */
.codrops-header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0.8em 0.75em;
}

.codrops-header__title {
  font-size: 1em;
  margin: 0;
  padding: 0 1em;
}
.codrops-header__title--demo-4 {
  color: #566;
}
.codrops-header__title--demo-5 {
  color: #655;
}

.codrops-header__tagline {
  margin: 0;
}

/* Top Navigation Style */
.codrops-links {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.codrops-icon {
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em;
}

/* Demo links */
.demos {
  margin: 0 0 0 auto;
}

.demo {
  margin: 0 1em 0.5em 0;
  padding: 0 0 0.25em;
  border-bottom: 2px solid transparent;
}

.demo--current {
  border-color: currentColor;
}

/* Content */
.content {
}

@media screen and (max-width: 40em) {
  .codrops-header {
    justify-content: center;
  }
  .demos {
    width: 100%;
    margin: 1em 0 0;
  }
}
